footer{
    background-color: #353535;
    width: 100%;
    padding: 35px;
    padding-bottom: 50px;

    h2{
        font-family: Shrikhand;
        color: white;
        font-weight: normal;
        font-size: 1.2em;
    }
   
    nav{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
   
        span{
            font-size: 1em
        } 
        i{
            color:white;
            
            width: 50px; /*pas idéal, besoin de diminuer la taille des icones*/
        }
        a{
            text-decoration: none;
            color:white;
            font-size: .8em;
            &:hover{
                background: linear-gradient(to bottom right, $Color-secondary 10%, $Color-primary 70%, $Color-primary 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color:transparent;
                color: transparent;
            }
        }
        span,
        a{
            margin-top: 10px;
        }
    }
}
    