header{
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    
    .fa-arrow-left{
       margin-right: 70px; /*temporaire car pas responsive*/
       color: #353535;
    }
    img{
        width: 150px;
    
        
    }
    
}
