@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Shrikhand';
    src: url('Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 767px){ /*ou max-device-width:480px pour tous les mobiles*/
                            
                            /* VERSION Mobile */
                            
    *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        font-size: 1.2em;
        text-decoration: none;
    }
    body{
        width: 767px;
        font-family: Roboto, calibri, sans-serif;
    }
/*  FOOTER  */
    footer{
    	background-color: #353535;
    	width: 100%;
    	padding: 45px;
        padding-bottom: 60px;
    }
    footer h2{
        font-family: Shrikhand;
        color: white;
        font-weight: normal;
        font-size: 1.2em;
    }
    footer img{
    	height: 25px;
    	color: white;
    	margin-bottom: 10px;
    }
    footer nav{
    	display: flex;
    	flex-direction: column;
    }
    footer nav span{
        font-size: 1em
    }
    footer nav i{
    	color:white;
    	margin-right: 20px;
    	width: 50px; /*pas idéal, besoin de diminuer la taille des icones*/
    }
    nav a{
    	text-decoration: none;
    	color:white;
        font-size: .8em
    }
    footer nav span,
    nav a{
    	margin-top: 20px;
}