@charset "UTF-8";
/*  FONTS  */
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*  mesures générales  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f6f6f6;
}

/*  IMAGES  */
.img__top {
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}

.--position {
  object-position: 50% 45%;
}

header {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
header .fa-arrow-left {
  margin-right: 70px;
  /*temporaire car pas responsive*/
  color: #353535;
}
header img {
  width: 150px;
}

footer {
  background-color: #353535;
  width: 100%;
  padding: 35px;
  padding-bottom: 50px;
}
footer h2 {
  font-family: Shrikhand;
  color: white;
  font-weight: normal;
  font-size: 1.2em;
}
footer nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
footer nav span {
  font-size: 1em;
}
footer nav i {
  color: white;
  width: 50px;
  /*pas idéal, besoin de diminuer la taille des icones*/
}
footer nav a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}
footer nav span,
footer nav a {
  margin-top: 10px;
}

.main-container {
  padding: 20px;
  padding-top: 40px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  bottom: 50px;
}

.main-container__Title {
  display: flex;
  justify-content: space-between;
  /*.favorite{

      position: relative;
      z-index: 1;
      color:$Color-main;
      &:hover{
          background: radial-gradient(circle, lighten($Color-secondary, 5)0%, darken($Color-primary,10)100%);
          background-clip:content-box;
          opacity: 2;
          transition: opacity 1500ms;
      }
  }
  .initial-heart{
      position: absolute;
      right:20px;
      z-index: 2;
      color: red;
      &:hover{
      z-index: -2;
      color:blue;
  }
  }*/
}
.main-container__Title h1 {
  font-family: "Shrikhand";
}
.main-container__Title .initial-heart {
  background: #9656DC;
  background-clip: padding-box;
}
.main-container__Title .favorite {
  background: #FF79DA;
  background-clip: content-box;
  color: transparent;
}

.Items .border {
  border-bottom: #99E2D0 solid 3px;
  width: 15%;
}
.Items .border h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: lighter;
  padding-bottom: 5px;
  padding-top: 35px;
  color: #353535;
}

.Items__choice {
  border-radius: 20px;
  background-color: white;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.Items__choice__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Items__choice__text h3 {
  font-size: 0.5em;
}
.Items__choice__text h4 {
  font-size: 0.45em;
  font-weight: lighter;
}

.Items__choice {
  cursor: pointer;
}
.Items__choice:hover span:hover {
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  transform: scale(1);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.Items__choice__price {
  display: flex;
  flex-direction: column-reverse;
  /*span:hover ~ p{               /*pourquoi <p> ne bouge pas !!!! ? */
  /* flex-direction: row-reverse;
      background-color: red;
      color: red;
      font-size: 1em;
      position: relative;
      right: 100px;              
  }*/
}
.Items__choice__price p {
  font-size: 0.5em;
  font-weight: bold;
}
.Items__choice__price span {
  transition: all 500ms ease-in-out;
  transform: scale(0.3);
}
.Items__choice__price span .fa-check-circle {
  color: white;
  padding: 20px;
}

.Purchase__Button {
  background: linear-gradient(to bottom right, #FF79DA 10%, #9656DC 70%, #9656DC 50%);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 15px 60px;
  margin: 30px auto 0px auto;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}

.Purchase__Button:hover {
  background: #ff93e1;
}

/*# sourceMappingURL=Menu__mobile__style.css.map */
