@charset "UTF-8";
@keyframes landing-menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes favorite {
  0% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
/*  FONTS  */
@font-face {
  font-family: "Roboto";
  src: url("Police/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("Police/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*  mesures générales  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/*  IMAGES  */
.img__top {
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}
@media screen and (min-width: 1280px) {
  .img__top {
    object-position: 50% 55%;
  }
}

.--position {
  object-position: 50% 45%;
}

header {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
header .fa-arrow-left {
  margin-right: 5rem;
  color: #353535;
  font-size: 1.3em;
}
@media screen and (max-width: 374px) {
  header .fa-arrow-left {
    margin-right: 3rem;
  }
}
header .fa-arrow-left:hover {
  background: linear-gradient(to bottom right, #FF79DA 10%, #9656DC 70%, #9656DC 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
}

footer {
  background-color: #353535;
  width: 100%;
  padding: 35px;
  padding-bottom: 50px;
}
footer h2 {
  font-family: Shrikhand;
  color: white;
  font-weight: normal;
  font-size: 1.3em;
}
footer nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
footer nav i {
  color: white;
  width: 50px;
  /*pas idéal, besoin de diminuer la taille des icones*/
}
footer nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
footer nav a:hover {
  background: linear-gradient(to bottom right, #FF79DA 10%, #9656DC 70%, #9656DC 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
footer nav span,
footer nav a {
  margin-top: 10px;
}

.main-container {
  padding: 20px;
  padding-top: 40px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  bottom: 50px;
}

.main-container__Title {
  display: flex;
  justify-content: space-between;
}
.main-container__Title h1 {
  font-family: "Shrikhand";
}
@media screen and (max-width: 374px) {
  .main-container__Title h1 {
    font-size: 1.4rem;
  }
}
.main-container__Title .fa-heart {
  font-size: 1.6rem;
}
.main-container__Title .basic {
  z-index: 1;
  transition: all 700ms ease-in-out;
  transition-delay: 400ms;
  transform: scale(0.9);
}
.main-container__Title .basic:hover {
  color: transparent;
  transform: scale(0.2);
}
.main-container__Title .favorite {
  color: transparent;
  position: absolute;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}
.main-container__Title .favorite:hover {
  background: linear-gradient(to bottom right, #FF79DA 10%, #9656DC 70%, #9656DC 50%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: favorite 400ms 1 ease-out forwards;
}

@media screen and (min-width: 1280px) {
  .small-container {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .small-container {
    display: flex;
    justify-content: space-around;
  }
}

.items .border {
  border-bottom: #99E2D0 solid 3px;
  width: 15%;
}
.items .border h2 {
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 5px;
  padding-top: 35px;
  color: #353535;
}

/* animation saccadée  */
.landing-1 {
  animation: landing-menu 0.5s 1s ease-in 1;
}

.landing-2 {
  animation: landing-menu 1s 1s ease-in 1;
}

.landing-3 {
  animation: landing-menu 1.5s 1s ease-in 1;
}

.landing-4 {
  animation: landing-menu 2s 1s ease-in 1;
}

.landing-5 {
  animation: landing-menu 2.5s 1s ease-in 1;
}

.landing-6 {
  animation: landing-menu 3s 1s ease-in 1;
}

.landing-7 {
  animation: landing-menu 3.5s 1s ease-in 1;
}

.landing-8 {
  animation: landing-menu 4s 1s ease-in 1;
}

.landing-9 {
  animation: landing-menu 4.5s 1s ease-in 1;
}

.landing-10 {
  animation: landing-menu 5s 1s ease-in 1;
}

.items__choice {
  border-radius: 20px;
  background-color: white;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .items__choice {
    width: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .items__choice {
    width: 300px;
  }
}
.items__choice__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  flex-grow: 1;
  max-width: 70%;
}
@media screen and (min-width: 1280px) {
  .items__choice__text {
    min-width: 50%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .items__choice__text {
    min-width: 70%;
    max-width: 100%;
  }
}
.items__choice__text h3 {
  font-size: 1.1em;
}
.items__choice__text h4 {
  font-size: 1em;
  font-weight: lighter;
}
.items__choice__text h3,
.items__choice__text h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.items__choice__price {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  flex-grow: 1;
  padding: 10px;
  align-self: stretch;
}
.items__choice__price p {
  font-size: 1em;
  font-weight: bold;
}
.items__choice__animation {
  transition: all 500ms linear;
  width: 0;
  color: white;
  background-color: #99E2D0;
  text-align: center;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items__choice__animation span {
  opacity: 0;
  transition: all 500ms linear;
  transform: rotate(180deg);
  font-size: 1.5em;
}

.items__choice:hover > .items__choice__animation {
  width: 50px;
}
.items__choice:hover > .items__choice__animation span {
  opacity: 1;
  transform: rotate(0deg);
}

.purchase__button {
  background: linear-gradient(to bottom right, #FF79DA 10%, #9656DC 70%, #9656DC 50%);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 15px 60px;
  margin: 30px auto 0px auto;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 3px 5px 5px grey;
}
.purchase__button:hover {
  background: #ff7edb;
  box-shadow: 1px 3px 5px #353535;
}

/*# sourceMappingURL=Menu__mobile__style.css.map */
