@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Shrikhand';
    src: url('Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.FontH2{
   
}
body{
    --Color-primary:#9656DC;
    --Color-secondary:#FF79DA;
    --Color-tertiary:#99E2D0;
    --Color-main:#f6f6f6;
}
/*MEDIA QUERIES*/
/*@media screen and (max-width: 767px){*/ /*ou max-device-width:480px pour tous les mobiles*/
                            
                            /* VERSION Mobile */
                            
	*{
	    padding: 0;
	    margin:0;
	    box-sizing: border-box;
	    font-size: 1.1em;
	   	text-decoration: none;
    }
    body{
    	
    	font-family: Roboto, calibri, sans-serif;
    }
    
    /*faire une mixin avec display flex, justify content center*/
    								/*  HEADER  */
    header{
        padding: 15px;
        border-bottom: solid 2px grey;
        display: flex;
    	justify-content: center;
    }
    header img{
        width: 150px;
    }
       								/*  TOP LOCALISATION  */
    header,
    .Localisation{
    	 /*marche pas pour localisation*/
    }
    .Localisation{
        padding: 15px 0px;
        display: flex;
        justify-content: center;
    }
    .Localisation i{
        
    }
    ::-webkit-input-placeholder{ /* chrome */
    color:black;
    font-weight: bold;
    font-size: .7em;
}
    .Localisation,
    .Localisation input{
    	background-color: #eaeaea;
    }
    .Localisation input{
        border:none;
        padding-left: 30px;
    }
       								/*  EXPLORE  */       								
    .Explore{
    	background-color: var(--Color-main);
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    	align-items: center;
    	padding: 20px;
        text-align: center;
    }
    .Explore h1{
    	width: 80%;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 1.2em;

    }
    .Explore p{
        padding-bottom: 40px;
        font-size: .8em;
    }
    .Explore input{
    	
    	background: linear-gradient(to bottom right, var(--Color-secondary) 10%, var(--Color-primary) 70%, var(--Color-primary) 50%);
        border-radius: 40px;
        border:none;
        margin-bottom: 50px;
        padding: 20px 40px;
        color: white;
        font-size: .8em;
    }
    ::-webkit-input-placeholder{
        
    }
    								/*  STEPS FONCTIONNEMENT  */
    .Steps{
        padding: 40px 20px;
    }
    .Steps h2{
    	font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .steps--icons{                  /*à renommer correctement*/
        padding: 30px 50px 30px 20px;
        background-color: var(--Color-main);
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        margin-bottom: 50px;
        box-shadow: 5px 5px 10px 0px #9A9A91;
        font-size: .8em;
        font-weight: bold;
    }
    .steps--icons:hover{ 
        background-color: #f5edff;
    }
    .steps--icons span{
        border-radius: 50px;
        height: 25px;
        width: 25px;
        padding-top: 5px;
        background-color: var(--Color-primary);
        color: white;
        font-size: .7em;
        text-align:center;
        position: absolute;
        left: 10px;
    }
    .steps--icons .fas{
        color: grey;
    }
    .Li--modified{
    	background-color: #f5edff;
    }
    #modified{
        color: var(--Color-primary);
    }
    /*.fa-store{
        color: var(--Color-primary);    Marche pas donc j'ai mis un id
    }*/
    								/*  MAIN CONTENT  */
	section{
		background-color: var(--Color-main);
        padding: 50px 20px;
        
	}
	section h2{
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 1.1em;
	}
	section div{
		display: flex;
		flex-direction: column;
		margin: auto;
		border-radius: 20px;
    }
    section a{
        color: black;
    }
	section article{
		border-radius: 20px;
		background-color: white;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 20px;
		position: relative;
        box-shadow: 5px 5px 10px 0px #9A9A91;
	}
	section h3{
		font-weight: bold;
		font-size: .7em;
		padding-top: 15px;
		padding-bottom: 5px;
	}
	section h4{
		font-weight: lighter;
		font-size: .6em;
		padding-bottom: 25px;
	}
	section h3,
	section h4{
		padding-left: 20px;
		
	}
	section article i{}
	section img{
	    	height: 200px;
	    	width: 100%;
	    	object-fit: cover;
	    	object-position: 50% 90%;
	    	border-radius: 20px 20px 0px 0px;
        }
    .--position{
        object-position:50% 70%;
        }
	.basic{
		position: absolute;
		right: 40px;
        bottom: 30px;
        color: black;
        z-index:2;
    }
    .fa-heart:hover{
        z-index:1;
    }
    .colored{
        z-index:1;
        position: absolute;
		right: 40px;
        bottom: 30px;
        color: black;
        transform: scale(1);
        transition: all 800ms;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        background: linear-gradient(90deg, red, blue);
    }
    /*
    .fa-w-16{
        width: 50px;
        color: red;
        transform: scale(0.3);
        transition: all 1000ms;
        position: absolute;
        right: 32px;
        bottom: 20px;
    }
    .fa-w-16:hover{
        z-index:2;
        color: var(--Color-primary);
        /*transition: color 1280ms ;
        transform: scale(1);
    }*/
    .colored:hover{
        z-index:2;
        /*color: var(--Color-primary);*/
        /*transition: color 1280ms ; pas besoin grace au all*/
        transform: scale(1);
        
    }
	article span{               /* encadré nouveau */
		position: absolute;
		right: 10px;
		top:15px;
		color: #008766;
		background-color: #99e2d0;
        font-size: .45em;
        /*font-weight: bold;*/
        padding: 5px 10px;
	}
    								/*  FOOTER  */
    footer{
    	background-color: #353535;
    	width: 100%;
    	padding: 45px;
        padding-bottom: 60px;
    }
    footer h2{
        font-family: Shrikhand;
        color: white;
        font-weight: normal;
        font-size: 1.2em;
    }
    footer nav{
    	display: flex;
    	flex-direction: column;
    }
    footer nav span{
        font-size: 1em
    }
    footer nav i{
    	color:white;
    	margin-right: 20px;
    	width: 50px; /*pas idéal, besoin de diminuer la taille des icones*/
    }
    nav a{
    	text-decoration: none;
    	color:white;
        font-size: .8em
    }
    footer nav span,
    nav a{
    	margin-top: 20px;
}