@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Shrikhand';
    src: url('Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.FontH2{
    font-size: ;
}
body{
    --Color-primary:#9656DC;
    --Color-secondary:#FF79DA;
    --Color-tertiary:#99E2D0;
}
/*MEDIA QUERIES*/
/*@media screen and (max-width: 767px){*/ /*ou max-device-width:480px pour tous les mobiles*/
                            
                            /* VERSION Mobile */
                            
	*{
	    padding: 0;
	    margin:0;
	    box-sizing: border-box;
	    font-size: 1.2em;
	   	text-decoration: none;
    }
    body{
    	width: 767px;
    	font-family: Roboto, calibri, sans-serif;
    }
    
    /*faire une mixin avec display flex, justify content center*/
    								/*  HEADER  */
    header{
    	padding: 30px;
    }
       								/*  TOP LOCALISATION  */
    header,
    .Localisation{
    	display: flex;
    	justify-content: center;
    }
    .Localisation{
        padding: 20px;
    }
    ::-webkit-input-placeholder{ /* chrome */
    color:black;
    font-weight: bold;
}
    .Localisation,
    .Localisation input{
    	background-color: #eaeaea;
    }
    .Localisation input{
        border:none;
        padding-left: 30px;
    }
       								/*  EXPLORE  */       								
    .Explore{
    	background-color: #f6f6f6;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    	align-items: center;
    	padding: 20px;
        text-align: center;
    }
    .Explore h1{
    	width: 70%;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 1.6em;

    }
    .Explore p{
    	width: 80%;
        padding-bottom: 50px;
    }
    .Explore input{
    	
    	background: linear-gradient(to bottom right, var(--Color-secondary) 10%, var(--Color-primary) 70%, var(--Color-primary) 50%);
        border-radius: 40px;
        border:none;
        margin-bottom: 70px;
        padding: 20px 40px;
        color: white;
    }
    ::-webkit-input-placeholder{
        
    }
    								/*  STEPS FONCTIONNEMENT  */
    .Steps{
        padding: 80px;
    }
    .Steps h2{
    	font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .steps--icons{                  /*à renommer correctement*/
        padding: 40px 60px;
        background-color: #f6f6f6;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        margin-bottom: 50px;
        box-shadow: 5px 5px 10px 0px #9A9A91;
        font-size: 1.1em;
        font-weight: bold;
    }
    .steps--icons span{
        border-radius: 50px;
        padding: 10px;
        height: 50px;
        width: 50px;
        background-color: var(--Color-primary);
        color: white;
        font-size: 0.8em;
        text-align: center;
        position: absolute;
        left: 50px;
    }
    .steps--icons .fas{
        color: grey;
    }
    .Li--modified{
    	background-color: #f5edff;
    }
    .fa-store{
        color: var(--Color-primary);
    }
    								/*  MAIN CONTENT  */
	section{
		background-color: #f6f6f6;
		padding-bottom: 120px;
	}
	section h2{
		padding: 50px 10px 30px 20px;
		font-weight: bold;
		font-size: 1.6em;
		padding-left: 40px;
		
	}
	section div{
		width: 90%;
		display: flex;
		flex-direction: column;
		margin: auto;
		border-radius: 20px;

	}
	section article{
		border-radius: 20px;
		background-color: white;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 20px;
		position: relative;
        box-shadow: 5px 5px 10px 0px #9A9A91;
	}
	section h3{
		font-weight: bold;
		font-size: .9em;
		padding-top: 15px;
		padding-bottom: 5px;
		
	}
	section h4{
		font-weight: lighter;
		font-size: .8em;
		padding-bottom: 25px;
		
	}
	section h3,
	section h4{
		padding-left: 20px;
		
	}
	section article i{}
	section img{
	    	height: 400px;
	    	width: 100%;
	    	object-fit: cover;
	    	object-position: 50% 90%;
	    	border-radius: 20px 20px 0px 0px;
	    }
	.fa-heart{
		position: absolute;
		right: 40px;
		bottom: 50px;
	}
	article span{
		position: absolute;
		right: 20px;
		top:30px;
		color: #008766;
		background-color: #99e2d0;
        font-size: .6em;
        font-weight: bold;
        padding: 15px 20px;
	}

    								/*  FOOTER  */
    footer{
    	background-color: #353535;
    	width: 100%;
    	padding: 45px;
        padding-bottom: 60px;
    }
    footer h2{
        font-family: Shrikhand;
        color: white;
        font-weight: normal;
        font-size: 1.2em;
    }
    footer img{
    	height: 25px;
    	color: white;
    	margin-bottom: 10px;
    }
    footer nav{
    	display: flex;
    	flex-direction: column;
    }
    footer nav span{
        font-size: 1em
    }
    footer nav i{
    	color:white;
    	margin-right: 20px;
    	width: 50px; /*pas idéal, besoin de diminuer la taille des icones*/
    }
    nav a{
    	text-decoration: none;
    	color:white;
        font-size: .8em
    }
    footer nav span,
    nav a{
    	margin-top: 20px;
}