.items{
    .border{
        border-bottom: $Color-tertiary solid 3px;
        width: 15%;

    h2{
        text-transform: uppercase;
        font-size: .9em;
        font-weight: lighter;
        padding-bottom: 5px;
        padding-top: 35px;
        color: #353535;
        }
    }
}
                                /* animation saccadée  */
.first{
    animation: landing-menu .5s 1s ease-in 1 ;
}
.second{
    animation: landing-menu 1s 1s ease-in 1 ;
}
.third{
    animation: landing-menu 1.5s 1s ease-in 1 ;
}
.fourth{
    animation: landing-menu 2s 1s ease-in 1 ;
}
.fifth{
    animation: landing-menu 2.5s 1s ease-in 1 ;
}
.sixth{
    animation: landing-menu 3s 1s ease-in 1 ;
}
.seventh{
    animation: landing-menu 3.5s 1s ease-in 1 ;
}
.eighth{
    animation: landing-menu 4.5s 1s ease-in 1 ;
}
.nineth{
    animation: landing-menu 5s 1s ease-in 1 ;
}
.items__choice{
    border-radius: 20px;
    background-color: white;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /*:hover > .Items__choice__animation{
        width: 50px;
        background: brown;
    }                               marche pas donc écrit plus bas*/
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
            h3{
                font-size: .5em;
            }
            h4{
                font-size: .45em;
                font-weight: lighter;
            }
            h3,
            h4{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 250px;
            }
    }
    &__price{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        flex-grow: 4;
        margin-right: 20px;
        padding: 10px;
        p{
            font-size: .5em;
            font-weight: bold;
        }
    }
    &__animation{
        transition: width 700ms ease-in-out, color 300ms ease-in-out, background 300ms ease-in;
        transition-delay: 0s, 700ms, 300ms;
        width: 0px;
        span{
            background: $Color-tertiary;
        }
        .fa-check-circle{
            width: 0;
            color: transparent;
            transition: transform 1s ease-out;
            transform-origin: center;
            /*animation: rotate 2s 0 ease-out; problème marche pas*/
   
    }
    /*span:hover{
        background-color: $Color-tertiary;
        border-radius: 0px 20px 20px 0px;
        transform:scale(1);
        display: flex;
        justify-content: center;
        width: 50px;
    }*/ 
}
}
.items__choice:hover > .items__choice__animation{
    width: 50px;
    background: $Color-tertiary;
    background-clip: text;
    color: white;
    border-radius: 0px 20px 20px 0px;
    span{
        
    }
    .fa-check-circle{
        color: white;
        padding-left: 5px;
        padding-top: 10px;
        transform:rotate(360deg);   
}
}


