.items{
    .border{
        border-bottom: $Color-tertiary solid 3px;
        width: 15%;

    h2{
        text-transform: uppercase;
        font-weight: lighter;
        padding-bottom: 5px;
        padding-top: 35px;
        color: #353535;
        }
    }
}
                                /* animation saccadée  */
    @for $i from 1 through 10{
         .landing-#{$i} {
             animation: landing-menu ($i*.5s) 1s ease-in 1 ; 
            }
    }
.items__choice{
    border-radius: 20px;
    background-color: white;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    @include desktop-only{
        width: 350px; 
    }
    @include tablet--horizontal-only{
        width: 300px;
    }
    
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        flex-grow: 1;
        max-width: 70%;
        @include desktop-only{
            min-width: 50%;
            max-width: 100%;
        }
        @include tablet--horizontal-only{
            min-width: 70%;
            max-width: 100%;
        }
            h3{
                font-size: 1.1em;
            }
            h4{
                font-size: 1em;
                font-weight: lighter;
            }
            h3,
            h4{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
    }
    &__price{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        flex-grow: 1;
        padding: 10px;
        align-self: stretch;
        p{
            font-size: 1em;
            font-weight: bold;
        }
    }
    &__animation{
        transition: all 500ms linear;
        width: 0;
        color: white;
        background-color: $Color-tertiary;
        text-align: center;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            opacity: 0;
            transition: all 500ms linear;
            transform: rotate(180deg);
            font-size: 1.5em;
        }
    }
}
.items__choice:hover > .items__choice__animation{
    width: 50px;
    
    span{
        opacity: 1;
        transform: rotate(0deg);
    }
}