.main-container{
    padding: 20px;
    padding-top: 40px;
    border-radius: 30px 30px 0px 0px;
    background-color: $Color-main;
    position: relative;
    bottom: 50px;
    
}
.main-container__Title{
    display: flex;
    justify-content: space-between;
    
    h1{
        font-family:'Shrikhand';
    }
    .basic{
        z-index: 1;
        transition: all 700ms ease-in-out;
        transition-delay: 400ms;
        transform: scale(.9);
    
        &:hover{
        color: transparent;
        transform: scale(.2);
        }
    }
    .favorite{
        color:transparent;
        transition: all 400ms ease-in-out;
        transform: scale(0.2);
        position: absolute;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        
        &:hover{
        background: linear-gradient(to bottom right, $Color-secondary 10%, $Color-primary 70%, $Color-primary 50%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        transform: scale(1); 
        }
    }
    /*.favorite{
        
        position: relative;
        z-index: 1;
        color:$Color-main;
        &:hover{
            background: radial-gradient(circle, lighten($Color-secondary, 5)0%, darken($Color-primary,10)100%);
            background-clip:content-box;
            opacity: 2;
            transition: opacity 1500ms;
        }
    }
    .initial-heart{
        position: absolute;
        right:20px;
        z-index: 2;
        color: red;
        &:hover{
        z-index: -2;
        color:blue;
    }
    }*/
}
