.main-container{
    padding: 20px;
    padding-top: 40px;
    border-radius: 30px 30px 0px 0px;
    background-color: $Color-main;
    position: relative;
    bottom: 50px;
}
.main-container__Title{
    display: flex;
    justify-content: space-between;
    
    h1{
        font-family:'Shrikhand';
        @include minimobile-only{
            font-size: 1.4rem;
        }
    }
    .fa-heart{
        font-size: 1.6rem;
    }
    .basic{
        z-index: 1;
        transition: all 700ms ease-in-out;
        transition-delay: 400ms;
        transform: scale(.9);
    
        &:hover{
        color: transparent;
        transform: scale(.2);
        }
    }
    .favorite{
        color:transparent;
        position: absolute;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        
        &:hover{
        background: linear-gradient(to bottom right, $Color-secondary 10%, $Color-primary 70%, $Color-primary 50%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        animation: favorite 400ms 1 ease-out forwards;
        }
    }
}
.small-container{
    @include desktop-only{
        display: flex;
        justify-content: space-around;
    }
    @include tablet--horizontal-only{
        display: flex;
        justify-content: space-around;
    }
}
