.Items{
    .border{
        border-bottom: $Color-tertiary solid 3px;
        width: 15%;

        h2{
        text-transform: uppercase;
        font-size: .9em;
        font-weight: lighter;
        padding-bottom: 5px;
        padding-top: 35px;
        color: #353535;
        }
    }
}
.Items__choice{
    border-radius: 20px;
    background-color: white;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.Items__choice__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3{
        font-size: .5em;
    }
    h4{
        font-size: .45em;
        font-weight: lighter;
    }
}
.Items__choice__price{
    display: flex;
    flex-direction: column-reverse;
    p{
        font-size: .5em;
        font-weight: bold;
    }
    span:active{
        background-color: $Color-tertiary;
        border-radius: 0px 20px 20px 0px;
        padding: 30px;
        display: flex;
        justify-content: center;
        cursor: pointer;
       
    }
}

.fa-check-circle{
    
    color: white;
    
    
    
}

