                                        /*  FONTS  */
@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Shrikhand';
    src: url('Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
                                        /*  mesures générales  */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: $Color-main;
    font-family: 'Roboto', sans-serif;  
    font-size: 14px; 
    line-height: 20px;
}
                                        /*  IMAGES  */
.img__top{
    height: 240px;
	width: 100%;
	object-fit: cover;
	object-position: 50% 90%;
    @include desktop-only{
        object-position: 50% 55%;
    }
}
.--position{
    object-position: 50% 45%;
}              