                                        /*  FONTS  */
@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Shrikhand';
    src: url('Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
                                        /*  mesures générales  */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 1.1em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
                                        /*  IMAGES  */
.img__top{
    height: 240px;
	width: 100%;
	object-fit: cover;
	object-position: 50% 90%;
}              