@keyframes landing-menu{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes favorite{
    0%{
        transform: scale(.2);
    }
    70%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);
    }
}